---
---

@import "{{ site.theme }}";

/* Shrink the logo in the header */
img[alt="Logo"] {
  border-radius: 50%; /* optional: circular portrait */
  width: 180px !important;
  height: auto !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
